body {
  margin: 0;
  padding: 0;
}
body * {
font-family: Arial, Helvetica, sans-serif;
}
.card-container {
display: flex;
flex-wrap: wrap;
justify-content: start;
}
.card-container .card {
width: 300px;
margin: 10px;
}
@media (max-width: 1200px) {
.card-container .card {
  width: calc(100% / 3 - 20px);
}
}
@media (max-width: 900px) {
.card-container .card {
  width: calc(100% / 2 - 20px);
}
}